/*! Write | CC0 license | https://git.qiuwen.net.cn/Qiuwen/mediawiki-skins-Write */

/* Navbar
   ========================================================================== */

/* Navigation
   ========================================================================== */

#mw-navigation nav,
#user-tools button[ type='submit' ],
#mw-navigation .mw-wiki-logo {
	display: none;
}

#p-logo {
	display: flex;
	align-items: center;
}

.mw-hamb {
	box-sizing: border-box;
	cursor: pointer;
	display: inline-block;
	font-size: inherit;
	font-style: normal;
	height: 1em;
	margin: 0 1em;
	position: relative;
	text-indent: -9999px;
	vertical-align: middle;
	width: 1em;
}

.mw-hamb:before,
.mw-hamb:after {
	content: '';
	display: block;
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate( -50%, -50% );
}

.mw-hamb:before {
	background: currentcolor;
	box-shadow: 0 -0.3em, 0 0.3em;
	height: 0.15em;
	width: 100%;
}

#mw-navbar {
	margin-bottom: 4em;
}

#personal-echo-icons li {
	right: 20px;
	padding-right: 10px;
	top: 8px;
}

#user-tools {
	margin-right: 1em;
}

.profile-icon {
	background-color: #fff;
	border: 1px solid #fff;
	border-radius: 6px 6px 0 0;
	color: #fff;
	height: 6px;
	margin-left: -14px;
	margin-top: 20px;
	position: absolute;
	width: 16px;
}

.profile-icon:before {
	background-color: #fff;
	border: 1px solid #fff;
	border-radius: 50%;
	content: '';
	height: 10px;
	left: 2px;
	position: absolute;
	top: -12px;
	width: 10px;
}

#p-search {
	width: 92vw;
	position: absolute;
	left: 100%;
	top: calc( 100% + 1.5em );
	margin-left: -97vw;
}

#searchInput {
	width: 100%;
}

aside {
	padding: 0.5em 0;
}

#mw-page-header-links {
	min-width: 100%;
}

aside .d-flex {
	flex-wrap: wrap;
	justify-content: flex-end;
}

#p-namespaces {
	flex: 1 1 100%;
	padding-right: 1em;
	padding-bottom: 0.5em;
}

aside .dropdown,
#p-namespaces span {
	padding-right: 1em;
	padding-bottom: 0.5em;
}

#p-namespaces .mw-portlet-body > div {
	display: flex;
	flex-wrap: wrap;
}

/* Main content
   ========================================================================== */

#toc.toc {
	display: block;
	float: none;
	max-width: 100%;
	padding: 1rem;
	margin: auto;
	width: 100%;
}

.mw-editsection {
	display: none;
}

.thumb,
.thumb.tright,
.thumb.tleft {
	float: none;
}

.thumbinner {
	max-width: 100%;
}

.mw-htmlform fieldset:not( .oo-ui-layout ) table {
	table-layout: fixed;
	width: 100%;
}

.mw-htmlform fieldset:not( .oo-ui-layout ) input {
	max-width: 100%;
}

/* Footer
   ========================================================================== */
.mw-footer {
	padding-left: 1rem;
	padding-right: 1rem;
	margin: auto;
}

#footer ul {
	margin-left: 0;
}

li.footer-icons {
	padding-right: 1em;
}

/* Specific pages
   ========================================================================== */
.client-js .mw-changeslist ul,
.client-js .mw-changeslist table.mw-enhanced-rc {
	margin-left: 0;
}
